{
  "extends": "standard",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "renderer": true
  },
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "renderer" }]
  }
}
